.navbar-default {
  
  border: none;
  border-bottom: 5px solid $brand-primary;
  
}

.navbar-default .navbar-toggle .icon-bar {
  
  background-color: $brand-primary;
  
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  
  border-color: #fff;
  
}