.site-banner {
  
  margin-bottom: 25px;
  
}

#row-offer {
  
  background-color: white;
  margin-bottom: 25px;
  
  .col-md-8 {
    
    padding-left: 0px;
    
  }
  
}

#row-offer {
  
  background-color: white;
  margin-bottom: 25px;
  
  .col-md-8 {
    
    padding-left: 0px;
    
  }
  
}

#price {
  
  background-color: white;
  margin-bottom: 25px;
  
  .col-md-8 {
    
    padding-right: 0px;
    
  }
  
}

.well {
  
  border: none;
  
}