---
title: Woodland Suites at Jessop Wing
---

<section class="site-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <img src="https://wonder-polaris.codio.io/site/source/images/banner_woodland.jpg" class="" width="100%">
      </div>
    </div>
  </div>
</section>

<section class="main">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <img src="http://placehold.it/600x300" class="img-responsive">
      </div>
      
      <div class="col-md-6">
        <div class="text-center well">
          <h2>This is a head</h2>
          <p class="lead">This is a follow piece of information that gets looked at because of the image next to it!</p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <img src="http://placehold.it/600x300" class="img-responsive">
      </div>
      
      <div class="col-md-6">
        <div class="text-center well">
          <h2>This is a head</h2>
          <p class="lead">This is a follow piece of information that gets looked at because of the image next to it!</p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-8">
        <p>MAP HERE</p>
      </div>
      
      <div class="col-md-4">
        <h3>Directions image of Hospital</h3>
        <p>Place to include some textual info and the rules</p>
      </div>
    </div>
    
    
  </div>

</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        this is some text
      </div>
      
      <div class="col-md-4">
        more
      </div>
      
      <div class="col-md-4">
        <img class="navbar-logo" src="http://www.sth.nhs.uk/images/sheffield-teaching-hospitals.gif"
              alt="logo for the Sheffield Teaching Hospital NHS Foundation Trust">
      </div>
      
    </div>
  </div>

</footer>