---
title: Woodland Suites at Jessop Wing
---

<section class="site-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <img src="https://wonder-polaris.codio.io/site/source/images/banner_woodland.jpg" class="" width="100%">
      </div>
    </div>
  </div>
</section>

<section class="main">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <img src="http://placehold.it/600x300" class="img-responsive">
      </div>
      
      <div class="col-md-6">
        <div class="text-center well">
          <h2>This is a head</h2>
          <p class="lead">This is a follow piece of information that gets looked at because of the image next to it!</p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <img src="http://placehold.it/600x300" class="img-responsive">
      </div>
      
      <div class="col-md-6">
        <div class="text-center well">
          <h2>This is a head</h2>
          <p class="lead">This is a follow piece of information that gets looked at because of the image next to it!</p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <h2 class="brand-header">How much it costs</h2>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <h2 class="brand-header">How booking the room works</h2>
        <hr>
        
        <div class="row">
          <div class="col-md-4">
            <div class="well">
              <h4 class="question">How long can I stay?</h4>
              <p>Your hospital stay will be the same as if you were not using the Suite; that is as soon as both you and your baby are fit for discharge home you will be expected to (and indeed want to) vacate the room. Therefore your stay is limited and it is anticipated for the majority of women that this will be for one night only</p>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
    
    
  </div>

</section>