---
title: Woodland Suites at Jessop Wing
---

<section class="site-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <img src="https://wonder-polaris.codio.io/site/source/images/banner_woodland.jpg" class="" width="100%">
      </div>
    </div>
  </div>
</section>

<section class="main">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <img src="https://wonder-polaris.codio.io/site/source/images/room.jpg" class="img-responsive">
      </div>
      
      <div class="col-md-6">
        <div class="well">
          <h4 id="suite" class="question">The Woodland Suite offers</h4>
          <p>A modern, self contained room which in addition to a bed for mum and a cot for your baby provides an additional bed for a partner to stay overnight following the birth of your baby.</p>
          <ul>
            <li>Ensuite bathroom</li>
            <li>Tea/coffee making facilities</li>
            <li>Television</li>
          </ul>
        
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <h2 id="price" class="brand-header">How much it costs</h2>
        
        <div class="row">
          <div class="col-md-6">
            <div class="well">
              <h4 class="question">How much does it cost?</h4>
              <p>The Woodland Suite costs £150 per night. You will need to pay for the room prior to entering it at the 24 hour reception in the Labour Ward. For your convenience there is a card machine to enable you to pay by either credit or debit card. If clinical circumstances mean that you stay in hospital for more than one night you will be asked to pay for the subsequent night or you will of course have the option to move to the normal ward if there is a bed available.</p>
            </div>
          </div>
          
          <div class="col-md-6">
            <img src="https://wonder-polaris.codio.io/site/source/images/stock-photo-close-up-of-happy-parents-holding-their-newborn-baby-25108807.jpg" class="img-responsive">
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <h2 id="condition" class="brand-header">How booking the room works</h2>
        
        <div class="row">
          <div class="col-md-4">
            <div class="well">
              <h4 class="question">How long can I stay?</h4>
              <p>Your hospital stay will be the same as if you were not using the Suite; that is as soon as both you and your baby are fit for discharge home you will be expected to (and indeed want to) vacate the room. Therefore your stay is limited and it is anticipated for the majority of women that this will be for one night only</p>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="well">
              <h4 class="question">Can I pre-book a Woodland Suite?</h4>
              <p>It is not possible to book a Suite in advance of the birth of your baby because your clinical needs will need to be assessed before a decision is made as to your suitability to be in a self-contained room. However once your suitability has been assessed please ask your midwife if one is available for you to use.</p>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="well">
              <h4 class="question">How will my birth experience impact on my suitability to request a Woodland Suite?</h4>
              <p>If you give birth by caesarean section or have experienced any significant complications either prior to, during, or following birth of your baby you will need to be cared for in the ward area. This will also include if your baby requires any specific treatment or observations. Your midwife will advise you of your suitability to use the Woodland Suite amenity room when you have given birth.</p>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="well">
              <h4 class="question">What can my partner expect?</h4>
              <p>You partner will be offered breakfast in the room, and can also use the tea and coffee making facilities. There are restaurants and coffee shops within the Jessop Wing for all other meals and snacks which your partner might want to purchase.</p>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="well">
              <h4 class="question">Can my other children stay?</h4>
              <p>We are sorry but other children cannot stay overnight in a Woodland Suite. However, your children can visit you in the Suite. If your partner is staying with you, please make arrangements for them to leave with a responsible adult at the end of vising time.</p>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="well">
              <h4 class="question">Your partner's attire</h4>
              <p>As you would expect your partner will need to wear appropriate attire whilst he stays in the Woodland Suite as staff will need to care for you during your stay and will be coming into the Suite to do so. please make sure that you both bring in appropriate comfortable clothing.</p>
            </div>
          </div>
          
        </div>
        
        
      </div>
    </div>
    
    
  </div>

</section>