---
title: Woodland Rooms at Jessop Wing
---

<section class="site-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <img src="https://wonder-polaris.codio.io/site/source/images/banner_woodland_room.png" class="" width="100%">
      </div>
    </div>
  </div>
</section>

<section class="main">
  <div class="container">

    <div class="row" id="row-offer">
      <div class="col-md-8">
        <img src="https://wonder-polaris.codio.io/site/source/images/mum_dad_baby_1_small.jpg" class="img-responsive">
        
      </div>
      
      <div class="col-md-4">
        <div class="well">
          <h2 id="suite" class="question">The Woodland Rooms offer</h2>
          <p>A modern, self contained room which in addition to a bed for mum and a cot for your baby provides an additional bed for a partner to stay overnight following the birth of your baby.</p>
          <ul>
            <li>En-suite bathroom</li>
            <li>Tea/coffee making facilities</li>
            <li>HD Television with HDMI slot</li>
          </ul>
        
        </div>
      </div>
    </div>
        
        <div class="row" id="price">
          <div class="col-md-4">
            <div class="well">
              <h3 class="question">How much does it cost?</h3>
              <p>The Woodland Rooms cost £150 per night. You will need to pay for the room prior to entering it at the 24 hour reception in the Labour Ward. For your convenience there is a card machine to enable you to pay by either credit or debit card.</p>
            </div>
          </div>
          
          <div class="col-md-8">
            <img src="https://wonder-polaris.codio.io/site/source/images/photo_woodland_one.jpg" class="img-responsive" width="100%">
          </div>
        </div>
    
    <div class="row">
      <div class="col-md-4 col-xs-4">
        <img class="" src="https://wonder-polaris.codio.io/site/source/images/bed_300.png" width="100%">
      </div>
      
      <div class="col-md-4 col-xs-4">
         <img src="https://wonder-polaris.codio.io/site/source/images/parents_300.png" width="100%">
      </div>
      
      <div class="col-md-4 col-xs-4">
        <img src="https://wonder-polaris.codio.io/site/source/images/shower_300.png" width="100%">
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12" id="condition">
        
        <div class="row">
          <div class="col-md-4">
            <div class="">
              <h3 class="question">How long can I stay?</h3>
              <p>Your stay will be expected to be overnight only. You will need to check out of the room by 2pm on the following day.</p>
              <p>If clinical circumstances mean that your stay in hospital for more than one night you will have to move to the normal ward as you and your baby need to be medically fit to remain in these rooms.</p>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="">
              <h3 class="question">Can I pre-book a Woodland Room?</h3>
              <p>It is not possible to book a room in advance of the birth because your clinical condition and that of your baby will need to be assessed before a decision is made as to your suitability to be in a self-contained room. However, once your suitability has been assessed please ask your midwife if there is a room available for you to use.</p>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="">
              <h3 class="question">How will my birth experience impact on my suitability for a Woodland Room?</h3>
              <p>If you give birth by caesarean section or have experienced any complications either prior to, during, or following the birth of your baby you will need to be cared for in the ward area. This will also include if your baby requires any specific treatment or observations. Ask your midwife about your suitability to use a Woodland Room when you have given birth.</p>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="">
              <h3 class="question">What can my partner expect?</h3>
              <p>Your partner will be offered breakfast in the room, and can access the tea and coffee making facilities. There is a coffee shop within the Jessop Wing for all other meals and snacks which your partner might want to purchase.</p>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="">
              <h3 class="question">Can my other children stay?</h3>
              <p>We are sorry but other children cannot stay overnight in a Woodland Room. However, your children can visit you in the Room. If your partner is staying with you, please make arrangements for them to leave with a responsible adult at the end of vising time.</p>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="">
              <h3 class="question">Your partner's attire</h3>
              <p>As you would expect your partner will need to wear appropriate clothes while staying in the Woodlands Rooms, as staff will need to care for you during your stay and will be coming into the Rooms to do so. Please make sure you both bring in appropriate comfortable clothing.</p>
            </div>
          </div>
          
        </div>
        
          <hr>
      </div>
    </div>
    
  
  </div>

</section>