<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>Copyright 2015 Sheffield Teaching Hospitals NHS Foundation Trust</p>
      </div>
      
      <div class="col-md-4">
        <a href="www.sth.nhs.uk"><img class="navbar-logo" src="http://www.sth.nhs.uk/images/sheffield-teaching-hospitals.gif"
              alt="Sheffield Teaching Hospital NHS Foundation Trust offers the Private Amenity Woodland Rooms at its Jessop Wing Maternity Hospital Location in Sheffield"></a>
      </div>   
    </div>
  </div>
</footer>