<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>Recent feedback has suggested that some families would like to have the option to pay for a room where their partner could also stay overnight with them when their baby is born.</p>
        <p>This facility (often called amenity rooms) is available in most maternity units around the country in other NHS organisations. We have listened to that feedback and the Woodland Rooms at Jessop Wing is the culmination of that feedback.</p>
      </div>
      
      <div class="col-md-4">
        <a href="www.sth.nhs.uk"><img class="navbar-logo" src="http://www.sth.nhs.uk/images/sheffield-teaching-hospitals.gif"
              alt="logo for the Sheffield Teaching Hospital NHS Foundation Trust"></a>
      </div>   
    </div>
  </div>
</footer>