  <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" alt="The Woodlands Rooms are Private, hotel-standard amenity rooms offered at Jessop Wing Maternity Hospital in Sheffield">The Woodlands Rooms</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#suite" alt="Find out more about our amenity rooms">The Rooms</a></li>
            <li><a href="#cost" alt="discover our affordbale, low price of £150 for our amenity rooms">Price</a></li>
            <li><a href="#condition" alt="Clinical commitments mean that our amenity rooms are only available under certain conditions. Find them our here">Frequently Asked Questions</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
